<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Aitor García Rey - {{ page.title }}</title>
   <meta name="author" content="Aitor García Rey" />
   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
   <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
   <!--<link rel="stylesheet" type="text/css" media="all" href="/css/screen.css" />-->
   <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" />
   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/usl8few.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>

  <div id="header">
    <div id="headerwrap">
      <div id="nav">
        <a href="/" class="nologo"/><span>Aitor García</span></a>
        <ul>
          <li><a href="/ethos"><strong>Ethos</strong></a></li>
          <li><a href="http://blog.aitorgarciarey.com">Blog</a></li>
          <li><a href="/talks">Talks</a></li>
        </ul>         
      </div>
    </div>
  </div>
  
  <div class="container_16">
    {{ content }}
  </div>
  
  <div id="footer"> 
      <div class="copyright"> 
          &copy; 2005–2010 Aitor García Rey
      </div> 
  </div>
  
</body>
</html>
